.bigBack{
	background-color: #BC8F8F ;
}

.reading{
	background-color: #FFFFFF;
}

strong {
	cursor: pointer;
}

.heading {
	font-family: "ubuntu";
}

.credit {
	font-size: 15px;
}

.bodyArea{
	margin : 10px;
}